<%if(list.length > 3){%>
    <div class="img">
        <img onerror="this.remove()" src="<%=list[0].link%>" alt="">
        <img onerror="this.remove()" src="<%=list[1].link%>" alt="">
        <img onerror="this.remove()" src="<%=list[2].link%>" alt="">
        <a href="post/<%=item.id%>" class="photomore">
            <ion-icon name="grid-outline"></ion-icon>
            <p>See more</p>
        </a>
    </div>
<%}else{%>
    <div class="img">
    <%list.forEach((item)=>{%>
        <img onerror="this.remove()" src="<%=item.link%>" alt="">
    <%})%>
    </div>
<%}%>